# EditorConfig - Configuration de l'éditeur pour tous les contributeurs
# https://editorconfig.org

# Fichier racine
root = true

# Tous les fichiers
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Fichiers C#
[*.cs]
indent_style = space
indent_size = 4

# Code style - règles de langage C#
# https://docs.microsoft.com/dotnet/fundamentals/code-analysis/style-rules/

# Préférences 'using'
csharp_using_directive_placement = outside_namespace:warning

# Préférences de mots-clés 'var'
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion

# Membres avec corps d'expression
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_constructors = false:suggestion
csharp_style_expression_bodied_operators = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = when_on_single_line:suggestion
csharp_style_expression_bodied_indexers = when_on_single_line:suggestion
csharp_style_expression_bodied_accessors = when_on_single_line:suggestion

# Préférences de correspondance de modèle
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion

# Préférences de variable inline
csharp_style_inlined_variable_declaration = true:suggestion

# Préférences de niveau expression
csharp_prefer_simple_default_expression = true:suggestion

# Préférences de vérification null
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion

# Préférences de modificateur
csharp_prefer_static_local_function = true:suggestion
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:suggestion

# Préférences de bloc de code
csharp_prefer_braces = true:warning

# Préférences de formatage
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_parameter_list_parentheses = false

# Convention de nommage
dotnet_naming_rule.interface_should_be_begins_with_i.severity = warning
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = warning
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = warning
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symboles de nommage
dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Styles de nommage
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.capitalization = pascal_case

# Fichiers Razor/CSHTML
[*.{cshtml,razor}]
indent_style = space
indent_size = 4

# Fichiers JSON
[*.json]
indent_style = space
indent_size = 2

# Fichiers JavaScript
[*.{js,ts}]
indent_style = space
indent_size = 2
quote_type = single

# Fichiers CSS/SCSS
[*.{css,scss,sass}]
indent_style = space
indent_size = 2

# Fichiers HTML
[*.html]
indent_style = space
indent_size = 2

# Fichiers XML
[*.{xml,config,props,targets,csproj,sln}]
indent_style = space
indent_size = 2

# Fichiers Markdown
[*.md]
trim_trailing_whitespace = false
insert_final_newline = true

# Fichiers batch Windows
[*.{cmd,bat}]
end_of_line = crlf

# Scripts shell
[*.sh]
end_of_line = lf
